/*================
FONTS
/*===============*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
/*================
GLOBAL VARIABLES
/*===============*/
:root {
    --ff-primary: "Barlow", sans-serif;
    --ff-secondary: "Fraunces", serif;
    --ff-size: 18px;

    /* primary */
    --clr-soft-red: hsl(7, 99%, 70%);
    --clr-yellow: hsl(51, 100%, 49%);
    --clr-dark-desat-cyan: hsl(167, 40%, 24%); /* graphic design text */
    --clr-dark-blue: hsl(198, 62%, 26%); /* photography text */
    --clr-dark-moderate-cyan: hsl(168, 34%, 41%); /* footer */

    /* neutral */
    --clr-v-dark-desat-blue: hsl(212, 27%, 19%);
    --clr-v-dark-grayish-blue: hsl(213, 9%, 39%);
    --clr-dark-grayish-blue: hsl(232, 10%, 55%);
    --clr-grayish-blue: hsl(210, 4%, 67%);
    --clr-white: hsl(0, 0%, 100%);

    --transition: all 0.3s;
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--ff-primary);
    font-size: var(--ff-size);
}
h1,
h2,
h3 {
    font-family: var(--ff-secondary);
}
.main-header {
    min-height: 100vh;
    background: url("./images/mobile/image-header.jpg") center / cover no-repeat;
}
/*================
NAVBAR
/*===============*/
.navbar {
    background: transparent;
    padding: 1.5rem 1rem;
}
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-toggle {
    background: none;
    border: none;
    transition: var(--transition);
}
.rotate-nav-toggle {
    transform: rotate(90deg);
}
.navbar-content {
    position: relative;
}
.nav-links-container {
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
    background: var(--clr-white);
    margin-top: 2.5rem;
    transform: translateY(-50px);
}
.nav-links-container::before {
    content: "";
    position: absolute;
    top: -6%;
    right: 0;
    width: 0;
    border: 10px solid;
    border-color: transparent white white transparent;
}
.nav-links li {
    text-align: center;
    list-style-type: none;
    margin: 1.5em 0;
}
.nav-links li:first-child {
    margin-top: 0;
    padding-top: 2em;
}
.nav-links li:last-child {
    /* adding values from all links in addition to its padding */
    margin-top: 2.5em;
    padding-bottom: 3em;
    margin-bottom: 0;
}
.nav-links li a {
    text-decoration: none;
    color: var(--clr-dark-grayish-blue);
    font-size: 17px;
}
li a.contact {
    background: var(--clr-yellow);
    color: var(--clr-v-dark-desat-blue);
    font-family: var(--ff-secondary);
    font-size: 15px;
    text-transform: uppercase;
    padding: 1em 1.5em;
    border-radius: 40px;
}
/*================
END NAVBAR
/*===============*/
.banner {
    min-height: 80vh;
    display: grid;
    place-items: center;
    text-align: center;
}
.banner h1 {
    color: var(--clr-white);
    font-size: clamp(2rem, 2rem + 2vw, 3rem);
    letter-spacing: 5px;
    text-transform: uppercase;
}
.banner img {
    align-self: start;
}
section.about img,
section.services img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
section.about h2 {
    font-size: clamp(1.5rem, 1.6rem + 1vw, 2rem);
    font-weight: 900;
    width: 80%;
    color: var(--clr-v-dark-desat-blue);
    margin: 2rem auto 1rem;
    text-align: center;
}
section.about p {
    font-size: 15px;
    color: var(--clr-dark-grayish-blue);
    font-weight: 600;
    text-align: center;
    width: 85%;
    margin: 1rem auto 2rem;
}
section.about span {
    display: block;
    font-family: var(--ff-secondary);
    font-size: 14px;
    font-weight: 900;
    color: var(--clr-v-dark-desat-blue);
    text-align: center;
    text-transform: uppercase;
    margin: 1rem 0 3.5rem;
    position: relative;
}
section.about span::before {
    content: "";
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    width: 11ch;
    height: 1ch;
    border-radius: 4px;
    background: hsla(51, 95%, 70%, 0.5);
    z-index: -1;
}
section.about span:hover {
    cursor: pointer;
}
section.services article {
    position: relative;
    margin-bottom: -2%; /* to cover tiny whitespace */
}
section.services .text-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 90%;
    text-align: center;
}
section.services .text-content h3 {
    font-size: clamp(1.5rem, 1.5rem + 1vw, 1.8rem);
    font-weight: 900;
    margin-bottom: 1.2rem;
    text-transform: capitalize;
}
section.services .text-content :is(.graphic, .graphic + p) {
    color: var(--clr-dark-desat-cyan);
}
section.services .text-content :is(.photography, .photography + p) {
    color: var(--clr-dark-blue);
}
section.services .text-content p {
    font-size: clamp(14px, 14px + .5vw, 17px);
    line-height: 1.5em;
}
section.testimonials {
    margin-top: 3rem;
}
section.testimonials article {
    margin-top: 4rem;
}
section.testimonials h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(.9rem, .9+1vw, 1.2rem);
    letter-spacing: 3px;
    color: var(--clr-dark-grayish-blue);
    font-weight: 900;
}
section.testimonials img {
    display: block;
    width: 60px;
    border-radius: 50%;
    margin: 0 auto;
}
section.testimonials p {
    margin: 2rem auto 0;
    width: 90%;
    text-align: center;
    color: var(--clr-dark-blue);
    line-height: 1.5em;
}
section.testimonials .name {
    font-family: var(--ff-secondary);
    font-weight: 900;
    color: var(--clr-v-dark-desat-blue);
    display: block;
    margin-top: 2rem;
    text-align: center;
}
section.testimonials .role {
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 1rem;
    color: var(--clr-grayish-blue);
}
section.gallery{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
section.gallery img {
    object-fit: cover;
    width: 100%;
}
footer{
    min-height: 40vh;
    background: hsl(167, 44%, 70%); /* actual footer color from design */
}
.logo-wrapper{
    padding-top: 3rem;
    width: 100%;
}
.logo-wrapper .footer-logo{
    display: block;
    margin: 0 auto;
    width: 55%;
    max-width: 250px;
}
.footer-nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.footer-nav a{
    text-decoration: none;
    color: var(--clr-dark-desat-cyan);
}
.social-media-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}
.social-media-container img{
    margin: 0 1rem 0 1rem;
}
.social-media-container img:first-child{
    margin-left: auto;
}
.social-media-container img:last-child{
    margin-right: auto;
}
.attribution {
    margin-top: 2rem;
    font-size: 12px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
