/*================
FONTS
/*===============*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
/*================
GLOBAL VARIABLES
/*===============*/
:root {
    --ff-primary: "Barlow", sans-serif;
    --ff-secondary: "Fraunces", serif;
    --ff-size: 18px;

    /* primary */
    --clr-soft-red: hsl(7, 99%, 70%);
    --clr-yellow: hsl(51, 100%, 49%);
    --clr-dark-desat-cyan: hsl(167, 40%, 24%); /* graphic design text */
    --clr-dark-blue: hsl(198, 62%, 26%); /* photography text */
    --clr-dark-moderate-cyan: hsl(168, 34%, 41%); /* footer */

    /* neutral */
    --clr-v-dark-desat-blue: hsl(212, 27%, 19%);
    --clr-v-dark-grayish-blue: hsl(213, 9%, 39%);
    --clr-dark-grayish-blue: hsl(232, 10%, 55%);
    --clr-grayish-blue: hsl(210, 4%, 67%);
    --clr-white: hsl(0, 0%, 100%);

    --transition: all 0.3s;
    --max-width: 1440px;
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--ff-primary);
    font-size: (var(--ff-size), var(--ff-size) + 1vw, var(--ff-size) + 4px);
    overflow: overlay; /* Makes the scroll-track transparent */
}
h1,
h2,
h3 {
    font-family: var(--ff-secondary);
}
::-webkit-scrollbar {
    position: absolute;
    width: 6px;
    right: 5px;
}
::-webkit-scrollbar-thumb {
    background: var(--clr-dark-desat-cyan);
    border-radius: 20px;
}
.main-header {
    height: max(100vh, 500px);
    background: url("./images/mobile/image-header.jpg") center / cover no-repeat;
}
/*================
NAVBAR
/*===============*/
.navbar {
    background: transparent;
    padding: 1.5rem 1rem;
}
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-toggle {
    background: none;
    border: none;
    transition: var(--transition);
}
.nav-toggle:hover {
    cursor: pointer;
}
.rotate-nav-toggle {
    transform: rotate(90deg);
}
.navbar-content {
    position: relative;
}
.nav-links-container {
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
    background: var(--clr-white);
    margin-top: 2.5rem;
    transform: translateY(-50px);
}
.nav-links-container::before {
    content: "";
    position: absolute;
    top: -6%;
    right: 0;
    width: 0;
    border: 10px solid;
    border-color: transparent white white transparent;
}
.nav-links li {
    text-align: center;
    list-style-type: none;
    margin: 1.5em 0;
}
.nav-links li:first-child {
    margin-top: 0;
    padding-top: 2em;
}
.nav-links li:last-child {
    /* adding values from all links in addition to its padding */
    margin-top: 2.5em;
    padding-bottom: 3em;
    margin-bottom: 0;
}
.nav-links li a {
    text-decoration: none;
    color: var(--clr-dark-grayish-blue);
    font-size: clamp(17px, 17px + 0.5vw, 18.5px);
}
li a.contact {
    background: var(--clr-yellow);
    color: var(--clr-v-dark-desat-blue);
    font-family: var(--ff-secondary);
    font-size: clamp(15px, 15px + 0.5vw, 17.5px);
    text-transform: uppercase;
    padding: 1em 1.5em;
    border-radius: 40px;
}
/*================
END NAVBAR
/*===============*/
.banner {
    min-height: 80vh;
    display: grid;
    place-items: center;
    text-align: center;
}
.banner h1 {
    color: var(--clr-white);
    font-size: clamp(2rem, 2rem + 2vw, 3rem);
    letter-spacing: 5px;
    text-transform: uppercase;
}
.banner img {
    align-self: start;
}
section.about :is(.img-transform, .img-standout) {
    height: min(80vw, 450px);
    width: 100%;
}
section.about .img-transform {
    background: url("./images/mobile/image-transform.jpg") center / cover no-repeat;
}
section.about .img-standout {
    background: url("./images/mobile/image-stand-out.jpg") center / cover no-repeat;
}
section.about h2 {
    font-size: clamp(1.5rem, 1.6rem + 1vw, 2rem);
    font-weight: 900;
    width: 80%;
    color: var(--clr-v-dark-desat-blue);
    margin: 2rem auto 1rem;
    text-align: center;
}
section.about p {
    font-size: clamp(15px, 15px + 0.5vw, 17px);
    color: var(--clr-dark-grayish-blue);
    font-weight: 600;
    text-align: center;
    width: 85%;
    max-width: 50ch;
    margin: 1rem auto 2rem;
}
section.about span {
    display: block;
    font-family: var(--ff-secondary);
    font-size: clamp(14px, 14 + 0.5vw, 17px);
    font-weight: 900;
    color: var(--clr-v-dark-desat-blue);
    text-align: center;
    text-transform: uppercase;
    margin: 1rem 0 3.5rem;
    position: relative;
}
section.about span::before {
    content: "";
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    width: 11ch;
    height: 1ch;
    border-radius: 4px;
    background: hsla(51, 95%, 70%, 0.5);
    z-index: -1;
}
section.about span:hover {
    cursor: pointer;
}
.img-standout + .text-content span::before {
    background: hsl(7, 80%, 89%);
}
section.services article {
    position: relative;
    margin-bottom: -10%; /*to cover tiny whitespace in between articles on small screens */
}
section.services :is(.img-graphic-design, .img-photography) {
    height: min(80vw + 380px, 700px);
    width: 100%;
}
section.services .img-graphic-design {
    background: url("./images/mobile/image-graphic-design.jpg") center / cover no-repeat;
    background-position: center calc(40% + 10vw);
}
section.services .img-photography {
    background: url("./images/mobile/image-photography.jpg") center / cover no-repeat;
    background-position: center calc(40% + 10vw);
}
section.services .text-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 90%;
    text-align: center;
}
section.services .text-content h3 {
    font-size: clamp(1.4rem, 1.5rem + 0.5vw, 1.7rem);
    font-weight: 900;
    margin-bottom: 1.2rem;
    text-transform: capitalize;
}
section.services .text-content :is(.graphic, .graphic + p) {
    color: var(--clr-dark-desat-cyan);
}
section.services .text-content :is(.photography, .photography + p) {
    color: var(--clr-dark-blue);
}
section.services .text-content p {
    font-size: clamp(14px, 14px + 0.5vw, 17px);
    line-height: 1.5em;
    max-width: 50ch;
    margin: 0 auto;
}
section.testimonials {
    margin-top: 5rem;
}
section.testimonials article {
    margin-top: 4rem;
}
section.testimonials h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(19px, 19px + 1vw, 22px);
    letter-spacing: 3px;
    color: var(--clr-dark-grayish-blue);
    font-weight: 900;
}
section.testimonials img {
    display: block;
    width: 60px;
    border-radius: 50%;
    margin: 0 auto;
}
section.testimonials p {
    margin: 2rem auto 0;
    width: 90%;
    max-width: 40ch;
    text-align: center;
    color: var(--clr-dark-blue);
    line-height: 1.5em;
}
section.testimonials .name {
    font-family: var(--ff-secondary);
    font-size: clamp(15px, 15px + 0.5vw, 18px);
    font-weight: 900;
    color: var(--clr-v-dark-desat-blue);
    display: block;
    margin-top: 2rem;
    text-align: center;
}
section.testimonials .role {
    display: block;
    text-align: center;
    font-size: clamp(14px, 14px + 0.3vw, 16px);
    margin-top: 1rem;
    color: var(--clr-grayish-blue);
}
section.gallery .mobile-container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
section.gallery .desktop-container {
    display: none;
}
section.gallery .mobile-container img {
    object-fit: cover;
    width: 100%;
}
footer {
    min-height: 40vh;
    background: hsl(167, 44%, 70%); /* actual footer color from design */
}
.logo-wrapper {
    padding-top: 3rem;
    width: 100%;
}
.footer-logo {
    display: block;
    margin: 0 auto;
    width: 25%;
    max-width: 150px;
}
.footer-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.footer-nav a {
    text-decoration: none;
    color: var(--clr-dark-desat-cyan);
}
.social-media-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}
.social-media-container i {
    margin: 0 1rem 0 1rem;
    font-size: clamp(17px, 18px + 0.2vw, 20px);
    color: var(--clr-dark-desat-cyan);
}
.social-media-container i:active {
    color: var(--clr-white);
}
.social-media-container i:hover {
    cursor: pointer;
}
.social-media-container i:first-child {
    margin-left: auto;
}
.social-media-container i:last-child {
    margin-right: auto;
}
.attribution {
    margin-top: 2rem;
    font-size: clamp(11px, 11px + .3vw, 12.5px);
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 568px) {
    /* minimum width on small screens in landscape mode */
    section.services article {
        margin-bottom: 0;
    }
    section.services .text-content {
        bottom: 7%;
    }
}
@media screen and (min-width: 768px) {
    /* desktop version of images look better on tablet view */
    section.services .img-graphic-design {
        background: url("./images/desktop/image-graphic-design.jpg") center / cover no-repeat;
    }
    section.services .img-photography {
        background: url("./images/desktop/image-photography.jpg") center / cover no-repeat;
    }
    section.services :is(.img-graphic-design, .img-photography) {
        height: min(80vw + 250px, 550px);
    }
}
@media screen and (min-width: 800px) {
    .main-header {
        background: url("./images/desktop/image-header.jpg") center / cover no-repeat;
    }
    .nav-toggle {
        display: none;
    }
    .navbar-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        max-width: 1400px;
        margin: 0 auto;
    }
    .nav-links-container {
        /* using !important to override JS styles */
        display: flex !important;
        position: static !important;
        height: auto !important;
        width: auto;
        opacity: 1 !important;
        visibility: visible !important;
        background: transparent;
        transform: none !important;
        margin: 0;
    }
    .nav-links {
        display: inline;
        width: 100%;
    }
    .nav-links li {
        display: inline;
    }
    .nav-links li a {
        color: var(--clr-white);
        margin: 0 1rem;
    }
    li a.contact {
        color: var(--clr-v-dark-desat-blue);
        background: var(--clr-white);
        padding: 0.7em 1.2em;
        transition: var(--transition);
    }
    li a.contact:active {
        background: hsl(200, 100%, 72%);
        color: var(--clr-white);
    }
    .nav-links-container::before {
        display: none;
    }
    section.about article {
        display: flex;
        max-width: 100%;
    }
    section.about :is(.img-transform, .img-standout, .text-content) {
        width: 50vw;
    }
    section.about :is(.img-transform, .img-standout) {
        min-height: 450px;
        height: calc(50vw + 50px);
        max-height: 500px;
    }
    section.about .img-transform {
        background: url("./images/desktop/image-transform.jpg") center / cover no-repeat;
    }
    section.about .img-standout {
        background: url("./images/desktop/image-stand-out.jpg") center / cover no-repeat;
    }
    section.about .text-content {
        display: grid;
        place-content: center;
    }
    section.about .text-content :is(h2, p) {
        text-align: left;
        margin-left: 10vw;
        width: 70%;
    }
    section.about .text-content h2 {
        margin-top: 0;
    }
    section.about .text-content span {
        text-align: left;
        margin: 0 0 0 10vw;
    }
    section.about .text-content span::before {
        left: -1%;
        transform: none;
        transition: var(--transition);
        border-radius: 20px;
    }
    .img-transform {
        order: 1;
    }
    .img-transform + .text-content span:active::before {
        background: hsl(51, 100%, 49%);
    }
    .img-standout + .text-content span:active::before {
        background: hsl(7, 100%, 71%);
    }
    section.services {
        display: flex;
        width: 100%;
    }
    section.services article {
        flex: 1 100%;
    }
    section.services :is(.img-graphic-design, .img-photography) {
        height: max(50vw, 520px);
    }

    section.services .text-content {
        bottom: 13%;
    }
    section.services .text-content p {
        max-width: 40ch; /* has to be a little smaller in order to get them both to line up correctly */
    }
    section.testimonials {
        margin-top: 7rem;
    }
    section.testimonials article {
        flex-grow: 1;
    }
    section.testimonials .content {
        display: flex;
        width: 80vw;
        margin: 0 auto;
    }
    section.gallery .mobile-container {
        display: none;
    }
    section.gallery .desktop-container {
        display: flex;
        margin-top: 7rem;
        height: 40vw;
        max-height: 500px;
        width: 100%;
    }
    section.gallery .desktop-container img {
        object-fit: cover;
        object-position: center center;
        height: 100%;
        width: calc(100% / 4);
    }
    .footer-logo {
        width: 20%;
        max-width: 160px;
    }
    .footer-nav ul {
        max-width: 350px;
        margin: 2.5rem auto 0;
    }
    .footer-nav a:active {
        color: var(--clr-white);
    }
    .social-media-container {
        margin-top: 4rem;
    }
}
